@media (min-width: 601px) and (max-width: 1024px){

  /* header */

  .icon{
    width: 50%;
    height: 70%;
    position: absolute;
    left: 560px;
    top: 80px;
  }

  .ha-li a {
    display: block;
    margin: 0 320px;
    font-size: 48px;
    color: white;
    text-decoration: none;
    padding: 56px 0;
    text-transform: uppercase;
    font-family: "Comic Sans MS";
  }

  .title {
    position: absolute;
    bottom: 40px;
    right: 80px;
    font-size: 64px;
    color: white;
    font-family: "Comic Sans MS";
  }
  
  .title-name {
    position: absolute;
    bottom: 16px;
    right: 80px;
    color: white;
    font-size: 24px;
    font-family: Yu Mincho;
  }
  

  /* main */

  .skills {
    display: flex;
    position: absolute;
    top: 600px;
  }

  .skill-set {
    padding: 0 20px;
    display: flex;
  }  

  .skill-img {
    width: 80px;
    height: 80px;
  }
  
  .skill {
    font-size: 36px;
    margin: 8px 0 0 8px;
    font-family: "Comic Sans MS";
  }

  
  .main-profile {
    font-size: 20px;
    margin-left: 120px;
  }
  
  .main-profiles {
    position: absolute;
    top: 720px;
    left: 36px;
    color: white;
  }
  
  .profile-name {
    font-size: 48px;
    margin-left: 160px;
    font-family: Ms PGothic;
  }
  
  .profile {
    font-size: 20px;
    margin-left: 120px;
    text-align: left;
    font-family: Yu Mincho;
  }
  
  .hr-1 {
    border-top: 2px solid white;
    margin: 24px 120px;
    width: 60%;
  }
  
  .myphoto {
    position: absolute;
    width: 70%;
    left: 640px;
  }

  .services {
    background-image: url(img/background-brown.png);
    background-repeat: no-repeat;
    background-size: 250%;
  }
  
  .service {
    text-align: center;
    color: white;
    font-size: 40px;
  }
  
  .containers-1 {
    position: relative;
    display: inline-block;
    margin: 64px 0;
    padding: 16px 10px;
    color: black;
    font-size: 20px;
    background: #eee;
    border-radius: 15px;
    left: 96px;
    text-align: center;
  }
  
  .containers-2 {
    position: relative;
    display: inline-block;
    left: 480px;
    margin: 16px 0;
    padding: 16px 16px;
    color: black;
    font-size: 20px;
    background: #eee;
    border-radius: 15px;
    text-align: center;
  }

  .service-1 {
    color: white;
    font-size: 40px;
    margin: 32px 64px;
  }
  
  .services-2 {
    position: relative;
    margin: 32px 32px 72px;
    padding: 16px 32px;
    border: solid 3px white;
    border-radius: 8px;
    width: 40%;
    float: left;
    background-image: url(img/backgroud-pc.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .services-2 .service-2 {
    position: absolute;
    display: inline-block;
    top: -32px;
    left: 24px;
    padding: 0 8px;
    line-height: 1;
    font-size: 40px;
    color: rgb(252, 158, 88);
    background: rgb(252, 231, 213);
    font-weight: bold;
  }

  .service-flow {
    color: white;
    font-size: 40px;
    margin: 0 64px;
    padding: 64px 0 16px;
  }
  
  .number-1 {
    color: white;
    font-size: 36px;
    margin: 16px 140px 0;
  }
  
  .number-2 {
    color: white;
    font-size: 36px;
    margin: 16px 140px 0;
  }
    
  .flow {
    padding: 16px 16px;
    margin: 16px 64px;
    text-align: center;
    color: black;
    background: #eee;
    background-image: url(img/PC.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.51);
    background-blend-mode: lighten;
    border-top: solid 5px #d48845;
    box-shadow: 0 3px 5px #805d46;
    width: 50%;
  }
  
  .flow-1 {
    font-size: 20px;
  }

  .hr-2 {
    border-top: 2px solid white;
    margin: 120px 160px 24px;
    width: 75%;
  }
  
  .work {
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 64px 0;
  }
  
  .work-contain {
    margin: 36px 0 8px 200px;
    position: absolute;
    color: white;
  }
  
  .cafe-site {
    display: inline-block;
    margin: 64px 0 64px 128px;
    text-decoration: none;
    color: white;
  }


  /* footer */
  
  .inquiry-form .inquiry-button{
    position: absolute;
    top: 3900px;
    left: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #543618;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #eeee;
    border-radius: 50px;
    border: 0.2rem solid #89643f;
    box-shadow: 0.2rem 0.2rem 0px 0.1rem #6c6c6c;
  }

}
